@using GraduPoject.ViewModel
@model List<ShopVM>
@{
    ViewData["Title"] = "Shop";
    Layout = "_many";
}
@section styles {
    <link rel="stylesheet" href="~/css/shop.css">

}

<section class="shop-section">
    <div class="order-btn-container">
        <form asp-controller="Shop" asp-action="Order" method="post">
            <button type="submit" class="order-btn">Order Now</button>
        </form>

        <div class="container">
            @if (Model != null && Model.Any())
            {
                @foreach (var shop in Model)
                {
                    <div class="product-box">
                        <img src="../images/@shop.Img" alt="@shop.ProductName">
                        <div class="product-info">
                            <h3>@shop.ProductName</h3>
                            <p class="artist-name">@shop.ArtistName</p>
                            <p class="price">$@shop.Price</p>
                            <p class="description">@shop.Description</p>
                            <p class="rating">Rating: @Html.Raw(new string('★', shop.Rate))@Html.Raw(new string('☆', 5 - shop.Rate))</p>
                            <form asp-controller="Shop" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productID" value="@shop.id" />
                                <button class="add-to-cart" type="submit" class="add-to-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No products available.</p>
            }
        </div>

    </div>
</section>